<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Attendance</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

  <!-- Upload Attendance   -->
    <div class="row m-b-10">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input
              class="custom-file-input"
              aria-describedby="inputGroupFileAddon01"
              #uploader
              id="inputGroupFile01"
              type="file"
              ngFileSelect
              [options]="options"
              (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput"
              (click)="uploader.value = null"
            >
            <label class="custom-file-label" for="inputGroupFile01">Upload Bulk Records - Choose file</label>
          </div>
        </div>
      </div>
    </div>
  <!-- ./Upload Attendance   -->

    <div class="row">
        <div class="col-md-4">
            <div class="card punch-status">
                <div class="card-body">
                    <h5 class="card-title">Timesheet <small class="text-muted">{{currDate | date}}</small></h5>
                    <div class="punch-det">
                        <h6>Punch In at</h6>
                        <p>{{(todayTimeSheet?.punchIn | date:'medium') || 'No Data Available'}}</p>
                    </div>
                    <div class="punch-info">
                        <div class="punch-hours">
                            <span>Total {{getDifference(todayTimeSheet?.punchOut, todayTimeSheet?.punchIn) || 0}} hrs</span>
                        </div>
                    </div>
                    <div class="punch-btn-section">
                        <button type="button" class="btn btn-primary punch-btn">Request Correction</button>
                    </div>
                    <div class="statistics">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="stats-box">
                                    <p>Overtime</p>
                                    <h6>0 hrs</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card att-statistics">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <div class="stats-list">
                        <div class="stats-info">
                            <p>Today <strong>{{getDifference(todayTimeSheet?.punchOut, todayTimeSheet?.punchIn) || 0}} hrs <small>/ 8 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 31%"
                                    aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>This Week <strong>{{weekHours || 0}} <small>/ 40 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 31%"
                                    aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>This Month <strong>{{monthHours || 0}} <small>/ 160 hrs</small></strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 62%"
                                    aria-valuenow="62" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="stats-info">
                            <p>Overtime <strong>0</strong></p>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 0%"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card recent-activity">
                <div class="card-body">
                    <h5 class="card-title">Today Activity</h5>
                    <ul class="res-activity-list">
                        <li>
                            <p class="mb-0">Punch In at</p>
                            <p class="res-activity-time">
                                <i class="fa fa-clock-o"></i>
                                {{(todayTimeSheet?.punchIn) ? (todayTimeSheet?.punchIn | date:'mediumTime') : 'No Data Available' }}.
                            </p>
                        </li>
                        <li>
                            <p class="mb-0">Punch Out at</p>
                            <p class="res-activity-time">
                                <i class="fa fa-clock-o"></i>
                              {{(todayTimeSheet?.punchOut) ? (todayTimeSheet?.punchOut | date:'mediumTime') : 'No Data Available'}}.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-3">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }">
                </div>
                <label class="focus-label">Date</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating form-control">
                    <option>-</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
                <label class="focus-label">Select Month</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating form-control">
                    <option>-</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                </select>
                <label class="focus-label">Select Year</label>
            </div>
        </div>
        <div class="col-sm-3">
            <a  class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">

              <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
              >
                <ngx-datatable-column name="#" prop="#" [width]="50">
                  <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{rowIndex + 1}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="date">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="punchIn">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date:'mediumTime'}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="punchOut">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date:'mediumTime'}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Total Time">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{getDifference(row.punchOut, row.punchIn)}} hrs
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Overtime">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value || 0}} hrs
                  </ng-template>
                </ngx-datatable-column>

<!--                <ngx-datatable-column name="Actions" sortable="false" prop="_id">-->
<!--                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--                    <button class="btn btn-default" data-toggle="modal"-->
<!--                            data-target="#edit_department" (click)="edit(row._id)">-->
<!--                      <i class="fa fa-pencil-square" aria-hidden="true"></i>-->
<!--                    </button>-->
<!--                    <button class="btn btn-default" data-toggle="modal"-->
<!--                            data-target="#delete_department" (click)="tempId = row._id">-->
<!--                      <i class="fa fa-trash" aria-hidden="true"></i>-->
<!--                    </button>-->
<!--                  </ng-template>-->
<!--                </ngx-datatable-column>-->
              </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
