<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Leave Type</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Leave Type</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_leaveType" (click)="addReset()"><i
                        class="fa fa-plus"></i> Add Leave Type</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

              <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
              >
                <ngx-datatable-column name="#" prop="#" [width]="50">
                  <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{rowIndex + 1}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Leave Type" prop="leaveType">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="btn btn-block btn-white btn-sm btn-rounded">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Leave Days" prop="leaveDays">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="_id">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="btn btn-default" data-toggle="modal"
                            data-target="#edit_leaveType" (click)="edit(row._id)">
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" data-toggle="modal"
                            data-target="#delete_leaveType" (click)="tempId = row._id">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leavetype Modal -->
<div id="add_leaveType" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Leave Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="addForm" (ngSubmit)="addLeavetype(addForm)">
                <input id="lid" type="hidden" formControlName="_id">
                <div class="form-group"
                     [class.has-error]="
                      addForm.controls['leaveType'].invalid &&
                      addForm.controls['leaveType'].touched"
                     [class.has-success]="addForm.controls['leaveType'].valid"
                >
                  <label for="leaveType1">Leave Type <span class="text-danger">*</span></label>
                  <input id="leaveType1" class="form-control" required type="text" formControlName="leaveType">
                </div>
                <div class="form-group"
                     [class.has-error]="
                      addForm.controls['leaveDays'].invalid &&
                      addForm.controls['leaveDays'].touched"
                     [class.has-success]="addForm.controls['leaveDays'].valid"
                >
                  <label for="numberofdays1">Number of days <span class="text-danger">*</span></label>
                  <input id="numberofdays1" class="form-control" required type="number" formControlName="leaveDays">
                </div>
                <div class="form-group"
                     [class.has-error]="
                      addForm.controls['carryForward'].invalid &&
                      addForm.controls['carryForward'].touched"
                     [class.has-success]="addForm.controls['carryForward'].valid"
                >
                  <label for="carryForward1">Carry Forward <span class="text-danger">*</span></label>
                  <select id="carryForward1" class="form-control" formControlName="carryForward" (change)="onCarryChange(addForm)">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div *ngIf="addForm.controls['carryForward'].value === 'Yes'" class="form-group"
                     [class.has-error]="
                      addForm.controls['carryMax'].invalid &&
                      addForm.controls['carryMax'].touched"
                     [class.has-success]="addForm.controls['carryMax'].valid"
                >
                  <label for="carryMax1">Max Carryforward <span class="text-danger">*</span></label>
                  <input id="carryMax1" required class="form-control" type="number" value="0" formControlName="carryMax">
                </div>
                <div class="form-group"
                     [class.has-error]="
                      addForm.controls['status'].invalid &&
                      addForm.controls['status'].touched"
                     [class.has-success]="addForm.controls['status'].valid"
                >
                  <label for="status1">Status <span class="text-danger">*</span></label>
                  <select id="status1" class="form-control" formControlName="status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                  </select>
                </div>
                <div class="m-t-20 text-center">
                  <button class="btn btn-primary" [disabled]="addForm.invalid">Save Changes</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leavetype Modal -->

<!-- Edit Leavetype Modal -->
<div id="edit_leaveType" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leave Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="uptForm" (ngSubmit)="updateLeavetype(uptForm)">
                <input id="lid1" type="hidden" formControlName="_id">
                <div class="form-group"
                   [class.has-error]="
                    uptForm.controls['leaveType'].invalid &&
                    uptForm.controls['leaveType'].touched"
                   [class.has-success]="uptForm.controls['leaveType'].valid"
                >
                  <label for="leaveType2">Leave Type <span class="text-danger">*</span></label>
                  <input id="leaveType2" class="form-control" required type="text" formControlName="leaveType">
                </div>
                <div class="form-group"
                     [class.has-error]="
                    uptForm.controls['leaveDays'].invalid &&
                    uptForm.controls['leaveDays'].touched"
                     [class.has-success]="uptForm.controls['leaveDays'].valid"
                >
                  <label for="numberofdays2">Number of days <span class="text-danger">*</span></label>
                  <input id="numberofdays2" class="form-control" required type="number" formControlName="leaveDays">
                </div>
                <div class="form-group"
                     [class.has-error]="
                    uptForm.controls['carryForward'].invalid &&
                    uptForm.controls['carryForward'].touched"
                     [class.has-success]="uptForm.controls['carryForward'].valid"
                >
                  <label for="carryForward2">Carry Forward <span class="text-danger">*</span></label>
                  <select id="carryForward2" class="form-control" formControlName="carryForward" (change)="onCarryChange(uptForm)">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div *ngIf="uptForm.controls['carryForward'].value === 'Yes'" class="form-group"
                     [class.has-error]="
                    uptForm.controls['carryMax'].invalid &&
                    uptForm.controls['carryMax'].touched"
                     [class.has-success]="uptForm.controls['carryMax'].valid"
                >
                  <label for="carryMax2">Max Carryforward <span class="text-danger">*</span></label>
                  <input id="carryMax2" required class="form-control" type="number" value="0" formControlName="carryMax">
                </div>
                <div class="form-group"
                     [class.has-error]="
                    uptForm.controls['status'].invalid &&
                    uptForm.controls['status'].touched"
                     [class.has-success]="uptForm.controls['status'].valid"
                >
                  <label for="status2">Status <span class="text-danger">*</span></label>
                  <select id="status2" class="form-control" formControlName="status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                  </select>
                </div>
                <div class="m-t-20 text-center">
                  <button class="btn btn-primary" [disabled]="uptForm.invalid">Save Changes</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leavetype Modal -->

<!-- Delete Leavetype Modal -->
<div class="modal custom-modal fade" id="delete_leaveType" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave Type</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteLeave()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leavetype Modal -->
