<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Leaves</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Leaves</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i>
                    Add Leave</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Today Presents</h6>
                <h4>12 / 5</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Planned Leaves</h6>
                <h4>8 <span>Today</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Unplanned Leaves</h6>
                <h4>1 <span>Today</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Pending Requests</h6>
                <h4>12</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchName($event.target.value)">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating form-control" (change)="searchType($event.target.value)">
                    <option value=""> -- Select -- </option>
                    <option *ngFor="let l of allLeaveTypes" [value]="l.leavetype">{{l.leavetype}}</option>
                </select>
                <label class="focus-label">Leave Type</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select floating form-control" (change)="searchStatus($event.target.value)">
                    <option value=""> -- Select -- </option>
                    <option value="pending"> Pending </option>
                    <option value="approved"> Approved </option>
                    <option value="authorized"> Authorized </option>
                    <option value="rejected"> Rejected </option>
                    <option value="declined"> Declined </option>
                </select>
                <label class="focus-label">Leave Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" bsDatepicker type="text"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                        (bsValueChange)="searchByFrom($event)">
                </div>
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" bsDatepicker type="text"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                        (bsValueChange)="searchByTo($event)">
                </div>
                <label class="focus-label">To</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <a class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

              <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
                [rowClass]="getRowClass"
                columnMode="force"
              >
<!--                <ngx-datatable-column name="#" prop="#">-->
<!--                  <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>-->
<!--                    {{rowIndex + 1}}-->
<!--                  </ng-template>-->
<!--                </ngx-datatable-column>-->
                <ngx-datatable-column name="Username" prop="username">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Leave Type" prop="leavetype">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="From" prop="from">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="To" prop="to">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Days" prop="nofdays">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reason" prop="reason">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <a class="btn btn-block btn-white btn-sm btn-rounded"
                       data-toggle="modal"
                       data-target="#approverejectmodal" (click)="apprRejctedit(row)">
                        <span [ngSwitch]="value">
                          <span *ngSwitchCase="'pending'">Pending</span>
                          <span *ngSwitchCase="'approved'">Approved</span>
                          <span *ngSwitchCase="'authorized'">Authorized</span>
                          <span *ngSwitchCase="'declined'">Declined</span>
                          <span *ngSwitchCase="'rejected'">Rejected</span>
                        </span>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Approved by" prop="approvedBy.approvedByUserName">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Rejected by" prop="rejectedBy.rejectedByUserName">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Authorized by" prop="authorizedBy.authorizedByUserName">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Declined by" prop="declinedBy.declinedByUserName">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="_id" width="200">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <div class="overlay"
                         *ngIf="(row.status === 'authorized' || row.status === 'declined') || !isAdmin"
                    ></div>
                    <button *ngIf="(row.status !== 'authorized' && row.status !== 'declined')" class="btn btn-block btn-primary btn-sm btn-rounded" (click)="authLeave(row)">Authorize</button>
                    <button *ngIf="(row.status !== 'authorized' && row.status !== 'declined')"  class="btn btn-default" data-toggle="modal"
                            data-target="#edit_leave" (click)="edit(row._id)">
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="(row.status !== 'authorized' && row.status !== 'declined')"  class="btn btn-default" data-toggle="modal"
                            data-target="#delete_approve" (click)="tempId = row">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leave Modal -->
<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Leave</h5>
        <button (click)="addReset()" type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#add_leave">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addleaves(editLeaveadminForm)" [formGroup]="editLeaveadminForm">

          <div class="form-group">
            <label>Select Employee <span class="text-danger">*</span></label>

            <mat-form-field class="form-control">
              <input
                    type="text"
                     aria-label="Number"
                     matInput
                     formControlName="selectEmp"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.email">
                  {{option.email}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div
              *ngIf="editLeaveadminForm.get('selectEmp').invalid && editLeaveadminForm.get('selectEmp').touched">
              <small
                *ngIf="editLeaveadminForm.get('selectEmp').invalid && editLeaveadminForm.get('selectEmp').touched"
                class="text-danger"> *Employee is required</small>
            </div>
          </div>
          <div class="form-group">
            <label>Leave Type <span class="text-danger">*</span></label>
            <select class="select form-control" (change)="onltypechange(editLeaveadminForm.get('leavetype'))"
                    [class.invalid]="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched"
                    formControlName="leavetype">
              <option value=''>--Select--</option>
              <option *ngFor="let l of checkPendingLeaveForUser" [value]=l.leave_ID>{{l.leavetype}}</option>
            </select>
            <div
              *ngIf="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched">
              <small
                *ngIf="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched"
                class="text-danger"> *Leave type is required</small>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="form-group pos-rel">
                  <label>From <span class="text-danger">*</span></label>
                  <input class="form-control datecolor"
                         [matDatepicker]="picker3"
                         [class.invalid]="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched"
                         formControlName="from">
                  <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                  <div *ngIf="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched"
                      class="text-danger"> *From is required</small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group pos-rel"
                     [class.has-error]="editLeaveadminForm.hasError('notSame')">
                  <label>To <span class="text-danger">*</span></label>
                  <input class="form-control datecolor"
                         [matDatepicker]="picker4"
                         [class.invalid]="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched"
                         formControlName="to">
                  <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                  <div *ngIf="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched"
                      class="text-danger"> *To is required</small>
                  </div>
                  <small class="help-block" *ngIf="editLeaveadminForm.hasError('notSame')">
                    To date should be greater than or equal to from date
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Number of days <span class="text-danger">*</span></label>
                  <input class="form-control" type="number"
                         [class.invalid]="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched"
                         formControlName="nofdays" min="0"
                  >
                  <div
                    *ngIf="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched"
                      class="text-danger"> *No.of days is required</small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Remaining Leaves <span class="text-danger">*</span></label>
                  <input class="form-control" readonly type="number"
                         [class.invalid]="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched"
                         formControlName="remainingleaves">
                  <div
                    *ngIf="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched"
                      class="text-danger"> *Remaining Leaves is required</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Leave Reason <span class="text-danger">*</span></label>
            <textarea rows="4" class="form-control"
                      [class.invalid]="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched"
                      formControlName="reason"></textarea>
            <div
              *ngIf="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched">
              <small
                *ngIf="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched"
                class="text-danger"> *Leave Reason is required</small>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit" [disabled]="editLeaveadminForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Leave Modal -->
<!-- /Add Leave Modal -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Leave</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#edit_leave">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="editLeaves(editLeaveadminForm)" [formGroup]="editLeaveadminForm">
          <input type="hidden" formControlName="_id">
          <div class="form-group">
            <label>Leave Type <span class="text-danger">*</span></label>
            <select class="select form-control" (change)="onltypechange(editLeaveadminForm.get('leavetype'))"
                    [class.invalid]="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched"
                    formControlName="leavetype">
              <option *ngFor="let l of checkPendingLeaveForUser" [value]=l.leave_ID>{{l.leavetype}}</option>
            </select>
            <div
              *ngIf="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched">
              <small
                *ngIf="editLeaveadminForm.get('leavetype').invalid && editLeaveadminForm.get('leavetype').touched"
                class="text-danger"> *Leave type is required</small>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="form-group pos-rel">
                  <label>From <span class="text-danger">*</span></label>
                  <input class="form-control datecolor"
                         [matDatepicker]="picker1"
                         [class.invalid]="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched"
                         formControlName="from">
                  <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <div *ngIf="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('from').invalid && editLeaveadminForm.get('from').touched"
                      class="text-danger"> *From is required</small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group pos-rel"
                     [class.has-error]="editLeaveadminForm.hasError('notSame')">
                  <label>To <span class="text-danger">*</span></label>
                  <input class="form-control datecolor"
                         [matDatepicker]="picker2"
                         [class.invalid]="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched"
                         formControlName="to">
                  <mat-datepicker-toggle class="formpicker" matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <div *ngIf="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('to').invalid && editLeaveadminForm.get('to').touched"
                      class="text-danger"> *To is required</small>
                  </div>
                  <small class="help-block" *ngIf="editLeaveadminForm.hasError('notSame')">
                    To date should be greater than or equal to from date
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Number of days <span class="text-danger">*</span></label>
                  <input class="form-control" type="number"
                         [class.invalid]="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched"
                         formControlName="nofdays" min="0">
                  <div
                    *ngIf="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('nofdays').invalid && editLeaveadminForm.get('nofdays').touched"
                      class="text-danger"> *No.of days is required</small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Remaining Leaves <span class="text-danger">*</span></label>
                  <input class="form-control" readonly type="number"
                         [class.invalid]="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched"
                         formControlName="remainingleaves">
                  <div
                    *ngIf="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched">
                    <small
                      *ngIf="editLeaveadminForm.get('remainingleaves').invalid && editLeaveadminForm.get('remainingleaves').touched"
                      class="text-danger"> *Remaining Leaves is required</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Leave Reason <span class="text-danger">*</span></label>
            <textarea rows="4" class="form-control"
                      [class.invalid]="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched"
                      formControlName="reason"></textarea>
            <div
              *ngIf="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched">
              <small
                *ngIf="editLeaveadminForm.get('reason').invalid && editLeaveadminForm.get('reason').touched"
                class="text-danger"> *Leave Reason is required</small>
            </div>
          </div>
          <div class="submit-section">
            <button class="btn btn-primary submit-btn" type="submit" [disabled]="editLeaveadminForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Leave</h3>
          <p>Are you sure want to Cancel this leave?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a  class="btn btn-primary continue-btn"
                  (click)="deleteleave()">Delete</a>
            </div>
            <div class="col-6">
              <a  data-dismiss="modal"
                  class="btn btn-primary cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Leave Modal -->

<!-- Approve/Reject Modal -->
<div class="modal custom-modal fade" id="approverejectmodal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Update Status</h3>
          <p>Approve or Reject the Leave.</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a  class="btn btn-primary continue-btn"
                  (click)="approveleave('approved')">Approve</a>
            </div>
            <div class="col-6">
              <a class="btn btn-primary cancel-btn"
                 (click)="rejectleave('rejected')">Reject</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Approve/Reject Modal -->


<!-- Authorized Modal -->
<div class="modal custom-modal fade" id="authdeclinemodal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Update Status</h3>
          <p>Approve or Reject the Leave.</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a  class="btn btn-primary continue-btn"
                  (click)="approveleave('authorized')">Authorize</a>
            </div>
            <div class="col-6">
              <a class="btn btn-primary cancel-btn"
                 (click)="rejectleave('declined')">Decline</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Authorized Modal -->
