<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Leaves</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Leaves</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_leave" (click)="addReset()" ><i class="fa fa-plus"></i>
                    Add Leave</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Leave Statistics -->
    <div class="row">

      <div class="col-md-3" *ngFor="let item of allLeaveTypes">
        <div class="stats-info">
          <h6>{{item.leavetype}}</h6>
          <h4>{{item.leavedays}}</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="stats-info">
          <h6>Remaining Leaves</h6>
          <h4>12</h4>
        </div>
      </div>

    </div>
    <!-- /Leave Statistics -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

              <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
                [rowClass]="getRowClass"
              >
                <ngx-datatable-column name="#" prop="#">
                  <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    {{rowIndex + 1}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Leave Type" prop="leavetype">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="From" prop="from">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="To" prop="to">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Number of Days" prop="nofdays">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Reason" prop="reason">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="status">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="btn btn-block btn-white btn-sm btn-rounded">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Approved by" prop="approver">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="_id">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="btn btn-default" data-toggle="modal"
                            data-target="#edit_leave" (click)="edit(row._id)">
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" data-toggle="modal"
                            data-target="#delete_approve" (click)="tempId = row._id">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leave Modal -->
<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#add_leave">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addleaves(addLeaveadminForm)" [formGroup]="addLeaveadminForm">
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select form-control" (change)="onltypechange(addLeaveadminForm.get('leavetype'))"
                            [class.invalid]="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched"
                            formControlName="leavetype">
                          <option *ngFor="let l of allLeaveTypes" [value]=l._id>{{l.leavetype}}</option>
                        </select>
                        <div
                            *ngIf="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched">
                            <small
                                *ngIf="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched"
                                class="text-danger"> *Leave type is required</small>
                        </div>
                    </div>
                  <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label>From <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                              <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                     [class.invalid]="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched"
                                     formControlName="from">
                              <div *ngIf="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched">
                                <small
                                  *ngIf="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched"
                                  class="text-danger"> *From is required</small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label>To <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                              <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                     [class.invalid]="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched"
                                     formControlName="to">
                              <div *ngIf="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched">
                                <small
                                  *ngIf="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched"
                                  class="text-danger"> *To is required</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>Number of days <span class="text-danger">*</span></label>
                          <input class="form-control" type="text"
                                 [class.invalid]="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched"
                                 formControlName="nofdays">
                          <div
                            *ngIf="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched">
                            <small
                              *ngIf="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched"
                              class="text-danger"> *No.of days is required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Remaining Leaves <span class="text-danger">*</span></label>
                          <input class="form-control" readonly type="text"
                                 [class.invalid]="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched"
                                 formControlName="remaingleaves">
                          <div
                            *ngIf="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched">
                            <small
                              *ngIf="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched"
                              class="text-danger"> *Remaining Leaves is required</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="form-group">
                        <label>Leave Reason <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control"
                            [class.invalid]="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched"
                            formControlName="reason"></textarea>
                        <div
                            *ngIf="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched">
                            <small
                                *ngIf="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched"
                                class="text-danger"> *Leave Reason is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->
<!-- /Add Leave Modal -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#edit_leave">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editLeaves()" [formGroup]="editLeaveadminForm">
                  <input type="hidden" formControlName="_id">
                  <div class="form-group">
                    <label>Leave Type <span class="text-danger">*</span></label>
                    <select class="select form-control" (change)="onltypechange(addLeaveadminForm.get('leavetype'))"
                            [class.invalid]="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched"
                            formControlName="leavetype">
                      <option *ngFor="let l of allLeaveTypes" [value]=l._id>{{l.leavetype}}</option>
                    </select>
                    <div
                      *ngIf="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched">
                      <small
                        *ngIf="addLeaveadminForm.get('leavetype').invalid && addLeaveadminForm.get('leavetype').touched"
                        class="text-danger"> *Leave type is required</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>From <span class="text-danger">*</span></label>
                          <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                   [class.invalid]="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched"
                                   formControlName="from">
                            <div *ngIf="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched">
                              <small
                                *ngIf="addLeaveadminForm.get('from').invalid && addLeaveadminForm.get('from').touched"
                                class="text-danger"> *From is required</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>To <span class="text-danger">*</span></label>
                          <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                   [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                   [class.invalid]="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched"
                                   formControlName="to">
                            <div *ngIf="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched">
                              <small
                                *ngIf="addLeaveadminForm.get('to').invalid && addLeaveadminForm.get('to').touched"
                                class="text-danger"> *To is required</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label>Number of days <span class="text-danger">*</span></label>
                          <input class="form-control" type="text"
                                 [class.invalid]="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched"
                                 formControlName="nofdays">
                          <div
                            *ngIf="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched">
                            <small
                              *ngIf="addLeaveadminForm.get('nofdays').invalid && addLeaveadminForm.get('nofdays').touched"
                              class="text-danger"> *No.of days is required</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label>Remaining Leaves <span class="text-danger">*</span></label>
                          <input class="form-control" readonly type="text"
                                 [class.invalid]="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched"
                                 formControlName="remaingleaves">
                          <div
                            *ngIf="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched">
                            <small
                              *ngIf="addLeaveadminForm.get('remaingleaves').invalid && addLeaveadminForm.get('remaingleaves').touched"
                              class="text-danger"> *Remaining Leaves is required</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Leave Reason <span class="text-danger">*</span></label>
                    <textarea rows="4" class="form-control"
                              [class.invalid]="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched"
                              formControlName="reason"></textarea>
                    <div
                      *ngIf="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched">
                      <small
                        *ngIf="addLeaveadminForm.get('reason').invalid && addLeaveadminForm.get('reason').touched"
                        class="text-danger"> *Leave Reason is required</small>
                    </div>
                  </div>
                  <div class="submit-section">
                    <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to Cancel this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteleaves()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->
