<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" (click)="add()"><i class="fa fa-plus"></i> Add Employee</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->


    <div class="row m-b-10">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input
              class="custom-file-input"
              aria-describedby="inputGroupFileAddon01"
              #uploader
              id="inputGroupFile01"
              type="file"
              ngFileSelect
              [options]="options"
              (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput"
              (click)="uploader.value = null"
            >
            <label class="custom-file-label" for="inputGroupFile01">Upload Bulk Records - Choose file</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchId($event.target.value)">
                <label class="focus-label">Employee ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchName($event.target.value)">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchByDesignation($event.target.value)">
                    <option value = "">Select Designation</option>
                    <option *ngFor="let d of allDesignations" [value]=d.designation>{{d.designation}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a  class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

              <ngx-datatable
                class="bootstrap"
                [rows]="rows"
                [columnMode]="ColumnMode.force"
                [columns]="columns"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
              >
                <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
                <ngx-datatable-column name="Emp ID" prop="emmpid"></ngx-datatable-column>
                <ngx-datatable-column name="First Name" prop="firstname"></ngx-datatable-column>
<!--                <ngx-datatable-column name="Last Name" prop="lastname"></ngx-datatable-column>-->
                <ngx-datatable-column name="Joining Date" prop="joiningdate">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value | date}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Role" prop="role">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="btn btn-block btn-white btn-sm btn-rounded">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Department" prop="department"></ngx-datatable-column>
                <ngx-datatable-column name="Designation" prop="designation.designation"></ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="_id">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="btn btn-default" data-toggle="modal"
                             data-target="#edit_employee" (click)="edit(row)">
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default" data-toggle="modal"
                             data-target="#delete_employee" (click)="deleteparams = row">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="editForm">
              <form class="m-b-30" [formGroup]="editForm" (ngSubmit)="createSubmit(editForm)" novalidate>
                <input type="hidden" formControlName="_id">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['username'].invalid &&
                          editForm.controls['username'].touched"
                         [class.has-success]="editForm.controls['username'].valid"
                    >
                      <label class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="text" formControlName="username" required>
                      <span class="help-block" *ngIf="editForm.controls['username'].errors && editForm.controls['username'].touched">
                    Username is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">First Name</label>
                      <input class="form-control" type="text" formControlName="firstname">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input class="form-control" type="text" formControlName="lastname">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.controls['email'].invalid && editForm.controls['email'].touched" [class.has-success]="editForm.controls['email'].valid">
                      <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" formControlName="email" required>
                      <span class="help-block" *ngIf="editForm.controls['email'].errors && editForm.controls['email'].touched">
                        Email is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                        editForm.controls['password'].invalid &&
                        editForm.controls['password'].touched"
                         [class.has-success]="editForm.controls['password'].valid"
                    >
                      <label class="control-label">Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password" required>
                      <span class="help-block" *ngIf="editForm.controls['password'].errors && editForm.controls['password'].touched">
                    Password is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.hasError('notSame') || (editForm.controls['password'].invalid &&
                    editForm.controls['password'].touched)">
                      <label class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password2">
                      <span class="help-block" *ngIf="editForm.controls['password2'].errors && editForm.controls['password2'].touched">
                        Confirm Password is invalid
                      </span>
                      <span class="help-block" *ngIf="editForm.hasError('notSame')">
                          Passwords do not match
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                        editForm.controls['emmpid'].invalid &&
                        editForm.controls['emmpid'].touched"
                         [class.has-success]="editForm.controls['emmpid'].valid"
                      >
                      <label class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                      <input type="text" class="form-control" formControlName="emmpid" required>
                      <span class="help-block" *ngIf="editForm.controls['emmpid'].errors && editForm.controls['emmpid'].touched">
                    Employee ID is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group pos-rel cal-icon"
                         [class.has-error]="
                        editForm.controls['joiningdate'].invalid &&
                        editForm.controls['joiningdate'].touched"
                         [class.has-success]="editForm.controls['joiningdate'].valid"
                    >
                      <label class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" bsDatepicker type="text"
                             [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                             [class.invalid]="editForm.get('joiningdate').invalid && editForm.get('joiningdate').touched"
                             formControlName="joiningdate" (bsValueChange)="from($event)">
                      <span class="help-block" *ngIf="editForm.controls['joiningdate'].errors && editForm.controls['joiningdate'].touched">
                   Joining Date is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                        editForm.controls['corporateid'].invalid &&
                        editForm.controls['corporateid'].touched"
                         [class.has-success]="editForm.controls['corporateid'].valid"
                    >
                      <label class="control-label">Company <span class="text-danger">*</span></label>
                      <select class="select form-control" formControlName="corporateid" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let cmp of companies" [value]=cmp.corporateid>{{cmp.corporateid}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['corporateid'].errors && editForm.controls['corporateid'].touched">
                   Company is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                    editForm.controls['role'].invalid &&
                    editForm.controls['role'].touched"
                         [class.has-success]="editForm.controls['role'].valid"
                    >
                      <label class="control-label">Role<span class="text-danger m-l-5">*</span></label>
                      <select class="select form-control" formControlName="role" required>
                        <option value="">--Select--</option>
                        <option value="Admin">Admin</option>
                        <option value="Management">Management</option>
                        <option value="Employee">Employee</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['role'].errors && editForm.controls['role'].touched">
                   Role is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                        editForm.controls['department'].invalid &&
                        editForm.controls['department'].touched"
                         [class.has-success]="editForm.controls['department'].valid"
                    >
                      <label for="department" class="control-label">Department<span class="text-danger m-l-5">*</span></label>
                      <select id="department" class="select form-control" formControlName="department" required (change)="onDepartChange(editForm.controls['department'])">
                        <option value="">--Select--</option>
                        <option *ngFor="let opt of departments" [value]="opt._id">{{opt.department}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['department'].errors && editForm.controls['department'].touched">
                        Department is invalid
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['designation'].invalid &&
                          editForm.controls['designation'].touched"
                         [class.has-success]="editForm.controls['designation'].valid"
                        >
                      <label for="designation" class="control-label">Designation<span class="text-danger m-l-5">*</span></label>
                      <select id="designation" class="select form-control" formControlName="designation" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let opt of designations" [value]="opt._id">{{opt.designation}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['designation'].errors && editForm.controls['designation'].touched">
                        Designation is invalid
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.controls['mobile'].invalid && editForm.controls['mobile'].touched" [class.has-success]="editForm.controls['mobile'].valid">
                      <label class="control-label">Mobile</label>
                      <input class="form-control unit-cost" type="text" formControlName="mobile" pattern="(\d{10}|\d{12})">
                      <span class="help-block" *ngIf="editForm.controls['mobile'].errors && editForm.controls['mobile'].touched">
                        Mobile Number is invalid
                      </span>
                    </div>
                  </div>
                </div>
                <div class="table-responsive m-t-15">
                  <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                      <th>Module Permission</th>
                      <th class="text-center">Read</th>
                      <th class="text-center">Write</th>
                      <th class="text-center">Create</th>
                      <th class="text-center">Delete</th>
                      <th class="text-center">Import</th>
                      <th class="text-center">Export</th>
                    </tr>
                    </thead>
                    <tbody formArrayName="permissions">
                    <tr formGroupName="holiday">
                      <td>Holidays</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    <tr formGroupName="leave">
                      <td>Leave Request</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    <tr formGroupName="assets">
                      <td>Assets</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <br>

                </div>
                <div class="m-t-20 text-center">
                  <div *ngIf="uptEmployeeValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                  </div>
                  <button class="btn btn-primary" type="submit" [disabled]="editForm.invalid">Create Employee</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="editForm">
              <form class="m-b-30" [formGroup]="editForm" (ngSubmit)="updateSubmit(editForm)" novalidate>
                <input type="hidden" formControlName="_id">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['username'].invalid &&
                          editForm.controls['username'].touched"
                         [class.has-success]="editForm.controls['username'].valid"
                    >
                      <label class="control-label">Username <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="text" formControlName="username" required>
                      <span class="help-block" *ngIf="editForm.controls['username'].errors && editForm.controls['username'].touched">
                    Username is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">First Name</label>
                      <input class="form-control" type="text" formControlName="firstname">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input class="form-control" type="text" formControlName="lastname">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.controls['email'].invalid && editForm.controls['email'].touched" [class.has-success]="editForm.controls['email'].valid">
                      <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="email" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" formControlName="email" required>
                      <span class="help-block" *ngIf="editForm.controls['email'].errors && editForm.controls['email'].touched">
                        Email is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                    editForm.controls['password'].invalid &&
                    editForm.controls['password'].touched"
                         [class.has-success]="editForm.controls['password'].valid"
                    >
                      <label class="control-label">Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password" required>
                      <span class="help-block" *ngIf="editForm.controls['password'].errors && editForm.controls['password'].touched">
                    Password is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.hasError('notSame') || (editForm.controls['password'].invalid &&
                    editForm.controls['password'].touched)">
                      <label class="control-label">Confirm Password<span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="password" formControlName="password2">
                      <span class="help-block" *ngIf="editForm.controls['password2'].errors && editForm.controls['password2'].touched">
                        Confirm Password is invalid
                      </span>
                      <span class="help-block" *ngIf="editForm.hasError('notSame')">
                          Passwords do not match
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                    editForm.controls['emmpid'].invalid &&
                    editForm.controls['emmpid'].touched"
                         [class.has-success]="editForm.controls['emmpid'].valid"
                    >
                      <label class="control-label">Employee ID <span class="text-danger m-l-5">*</span></label>
                      <input type="text" class="form-control" formControlName="emmpid" required>
                      <span class="help-block" *ngIf="editForm.controls['emmpid'].errors && editForm.controls['emmpid'].touched">
                    Employee ID is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group pos-rel cal-icon"
                         [class.has-error]="
                    editForm.controls['joiningdate'].invalid &&
                    editForm.controls['joiningdate'].touched"
                         [class.has-success]="editForm.controls['joiningdate'].valid"
                    >
                      <label class="control-label">Joining Date <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                             [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                             [class.invalid]="editForm.get('joiningdate').invalid && editForm.get('joiningdate').touched"
                             formControlName="joiningdate" (bsValueChange)="from($event)">
                      <span class="help-block" *ngIf="editForm.controls['joiningdate'].errors && editForm.controls['joiningdate'].touched">
                   Joining Date is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                    editForm.controls['corporateid'].invalid &&
                    editForm.controls['corporateid'].touched"
                         [class.has-success]="editForm.controls['corporateid'].valid"
                    >
                      <label class="control-label">Company <span class="text-danger">*</span></label>
                      <select class="select form-control" formControlName="corporateid" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let cmp of companies" [value]=cmp.corporateid>{{cmp.corporateid}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['corporateid'].errors && editForm.controls['corporateid'].touched">
                   Company is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                    editForm.controls['role'].invalid &&
                    editForm.controls['role'].touched"
                         [class.has-success]="editForm.controls['role'].valid"
                    >
                      <label class="control-label">Role<span class="text-danger m-l-5">*</span></label>
                      <select class="select form-control" formControlName="role" required>
                        <option value="">--Select--</option>
                        <option value="Admin">Admin</option>
                        <option value="Management">Management</option>
                        <option value="Employee">Employee</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['role'].errors && editForm.controls['role'].touched">
                   Role is invalid
                </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                        editForm.controls['department'].invalid &&
                        editForm.controls['department'].touched"
                         [class.has-success]="editForm.controls['department'].valid"
                    >
                      <label for="department1" class="control-label">Department<span class="text-danger m-l-5">*</span></label>
                      <select id="department1" class="select form-control" formControlName="department" required (change)="onDepartChange(editForm.controls['department'])">
                        <option value="">--Select--</option>
                        <option *ngFor="let opt of departments" [value]="opt._id">{{opt.department}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['department'].errors && editForm.controls['department'].touched">
                        Department is invalid
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group"
                         [class.has-error]="
                          editForm.controls['designation'].invalid &&
                          editForm.controls['designation'].touched"
                         [class.has-success]="editForm.controls['designation'].valid"
                    >
                      <label for="designation1" class="control-label">Designation<span class="text-danger m-l-5">*</span></label>
                      <select id="designation1" class="select form-control" formControlName="designation" required>
                        <option value="">--Select--</option>
                        <option *ngFor="let opt of designations" [value]="opt._id">{{opt.designation}}</option>
                      </select>
                      <span class="help-block" *ngIf="editForm.controls['designation'].errors && editForm.controls['designation'].touched">
                        Designation is invalid
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [class.has-error]="editForm.controls['mobile'].invalid && editForm.controls['mobile'].touched" [class.has-success]="editForm.controls['mobile'].valid">
                      <label class="control-label">Mobile</label>
                      <input class="form-control unit-cost" type="text" formControlName="mobile" pattern="(\d{10}|\d{12})">
                      <span class="help-block" *ngIf="editForm.controls['mobile'].errors && editForm.controls['mobile'].touched">
                        Mobile Number is invalid
                      </span>
                    </div>
                  </div>
                </div>
                <div class="table-responsive m-t-15">
                  <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                      <th>Module Permission</th>
                      <th class="text-center">Read</th>
                      <th class="text-center">Write</th>
                      <th class="text-center">Create</th>
                      <th class="text-center">Delete</th>
                      <th class="text-center">Import</th>
                      <th class="text-center">Export</th>
                    </tr>
                    </thead>
                    <tbody formArrayName="permissions">
                    <tr formGroupName="holiday">
                      <td>Holidays</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    <tr formGroupName="leave">
                      <td>Leave Request</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    <tr formGroupName="assets">
                      <td>Assets</td>
                      <td class="text-center">
                        <input formControlName="read" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="write" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="create" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="delete" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="import" type="checkbox">
                      </td>
                      <td class="text-center">
                        <input formControlName="export" type="checkbox">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <br>

                </div>
                <div class="m-t-20 text-center">
                  <div *ngIf="uptEmployeeValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                  </div>
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn"
                                (click)="deleteEmployee()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->
