<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Change Password</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

          <form [formGroup]="changeForm" (ngSubmit)="changePasswordSubmit(changeForm)">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="form-group"
                     [class.has-error]="
                changeForm.controls['oldpassword'].invalid &&
                changeForm.controls['oldpassword'].touched"
                     [class.has-success]="changeForm.controls['oldpassword'].valid"
                >
                  <label for="oldpwd" class="control-label">Old password <span class="text-danger">*</span></label>
                  <input id="oldpwd" class="form-control" required type="password" formControlName="oldpassword" />
                  <span class="help-block" *ngIf="changeForm.controls['oldpassword'].errors && changeForm.controls['oldpassword'].touched">
                  Old password is invalid
              </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group"
                     [class.has-error]="
                changeForm.controls['newpassword'].invalid &&
                changeForm.controls['newpassword'].touched"
                     [class.has-success]="changeForm.controls['newpassword'].valid"
                >
                  <label for="newpwd" class="control-label">New password <span class="text-danger">*</span></label>
                  <input id="newpwd" class="form-control" required type="password" formControlName="newpassword" />
                  <span class="help-block" *ngIf="changeForm.controls['newpassword'].errors && changeForm.controls['newpassword'].touched">
                  New password is invalid
              </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group" [class.has-error]="changeForm.hasError('notSame')">
                  <label for="confirmpwd" class="control-label">Confirm password <span class="text-danger">*</span></label>
                  <input id="confirmpwd" class="form-control" required type="password"  formControlName="confirmpassword" />
                  <span class="help-block" *ngIf="changeForm.hasError('notSame')">
                  Passwords do not match
              </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center m-t-20">
                <button type="submit" class="btn btn-primary" [disabled]="changeForm.invalid">Update Password</button>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
<!-- /Page Content -->
